body {
  background-color: green;
}
.container {
  width: 80%;
  margin: 0 auto;
}
header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}
.logo{
  float: left;
  padding: 10px 25px;
  width: 150px;
  height: auto;
}
.headerPic {
  padding-top: 0px;
  height: 50px;
  width: auto;
}
nav  {
  float: right;
}
nav ul {
  marign: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 70px;
  padding-top: 23px;

  position: relative;
}
nav ul li a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
}




h1 {
  color: black;
  font-family: verdenna;
  font-size: 450%;
  text-align: center;
  text-decoration: underline overline;
  font-weight: bold;

  border: 10px solid  #165a1f;
  border-color:;
  background-color: green;

  margin-top: 30px;
  margin-bottom: 0%;
  margin-left: 30%;
  margin-right: 30%;

  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}
@media only screen and (max-width: 800px) {

}
